.container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.container__interfaz{
    display: grid;
    grid-template-rows: repeat(3,1fr);
}
.alertBox {
    padding: 1rem;
    background-color: rgb(189, 182, 92);
}
.colorbg1 {
    padding: 1rem;
    background-color: rgb(197, 194, 147);
}
.ApisColor {
    padding: 1rem;
    background-color: rgb(235 203 184);
    border: 0.3rem;
    border-style: ridge;
}
.textarea{
    width: 100%;
}

.articulo__voz{
    background-color: bisque;
    padding: 0.1rem;
    border-radius: 30px;
    text-align: center;
}
.articulos{
    display: flex;
    flex-direction: column;
    gap:0.3rem;
}
a {
    color: black;
}
.voice--prefix {
    color: blue;
}