<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Text To TTS</title>
    <link rel="stylesheet" href="static/css/webuicss.css">
</head>

<body>
    <header>Text to tts</header>
    <div class="container ">
        <div class="container__interfaz colorbg1">
            <div>
                <textarea class="textarea" name="" id="content-text" cols="30" rows="10"></textarea>
            </div>
            
            <div>
                <button id="sendbutton">generate</button>
                <a href="/getAudios">download</a>
                <p id="status">status</p>
            </div>
            <div class="alertBox">
                <p>generate voices.</p>
                <p>coming soon</p>
            </div>
        </div>
        <!-- el area de la lista de voces -->
        <section class="ApisColor" id="allvoices__section">
            <div id="voices" class="articulos">voice list</div>
        </section>
        <section class="ApisColor">
            <div id="availablevoices" class="articulos"></div>
        </section>
    </div>
</body>
<script src="static/js/webui.js"></script>
</html>